<section>
  <article class="content-salary m-b-16 m-t-16">
    <div class="header-salary">
      <app-circle-image [img]="dadoClient[0].image" />
      
      <div>
        <small class="text-color-third">Happy salary day</small>
        <p class="text-color-white text-weigth-800 m-t-6" [innerText]="dadoClient[0].name"></p>
      </div>
    </div>
    
    <a class="text-color-white button-regular">
      <fa-icon [icon]="faBell"></fa-icon>
    </a>
  </article>

  <article class="content-balance m-t-32">
    <p class="m-b-4 text-color-third">Total Balance</p>
    <h1 class="m-t-4 title-32 text-color-white" 
      [class.esconderValores]="!visualizarValores">
      {{dadoClient[0].finance.totalBalance | currency}}
    </h1>
  </article>

  <article class="content-button m-t-16">
      @for (item of itensButtons; track $index) {
        <a class="text-color-white button-light">
          <fa-icon class="m-r-8" [icon]="item.icon"></fa-icon>
          {{item.name}}
        </a>
      }
      
      <a 
        class="text-color-white button-light"
        (click)="handleVisualizacaoValores()">
        <fa-icon [icon]="faEye"></fa-icon>
      </a>
  </article>
</section>