$gray: #c2c2c2;

section {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .content-buttons {
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 5px;

    a {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .button {
      border: 1px solid $gray;
      border-radius: 30px;
      
      &--with-image {
        padding: 2px 15px 2px 2px;
      }
      &--no-image {
        padding: 7px 10px;
      }
    }
    .button:hover {
      background-color: #c2c2c2;
      color: white;
    }
  }
}