.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;

  background-color: white;
  margin: 1rem;
  border-radius: 16px;
  box-shadow: 15px 14px 15px -3px rgba(0,0,0,0.1);

  b {
    font-size: 1.6em;
  }

  a {
    margin: 1em;
  }

  .esconderValores {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);

  }
}