@import url('../../../assets/segmento/theme-style.scss');

$primary: #1f332c;
$secundary: #234438;
$white: #fff;

.header {
  background-color: $primary;
  padding: 15px;

  article {
    display: flex;
    flex-direction: column;

    .content-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .esconderValores {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
}