<section class="header">
  <article>
    <p class="m-b-4 text-color-secundary">Total balance</p>
    <h1 class="m-t-0 title-32 text-color-white" [class.esconderValores]="!visualizarValores">R$12.000,00</h1>

    <div class="content-button m-t-16">
      @for (item of itensButtons; track $index) {
        <a class="text-color-white button-light">
          <fa-icon class="m-r-8" [icon]="faEye"></fa-icon>
          {{item.name}}
        </a>
      }
      
      <a 
        class="text-color-white button-light"
        (click)="handleVisualizacaoValores()">
        <fa-icon class="m-r-8" [icon]="faEye"></fa-icon>
      </a>
    </div>
  </article>
</section>